.logo {
  min-height: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #fbfbfb;
  margin-top: 20px;
}
.logo .partners {
  margin: 10px 30px;
}
.about-wrapper {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f7f7f7;
}
.about-wrapper .contact {
  display: flex;
  min-height: 125px;
  width: auto;
  justify-content: center;
  align-items: center;
}
.about-wrapper .contact .btn-contact {
  border-bottom: 1px solid grey;
  border-radius: 30px;
  padding: 15px 65px;
  margin-top: 20px;
  background: #fff;
  outline: none;
  font-size: 16px;
  font-family: "Open Sans";
  filter: drop-shadow(1.91px 10.833px 10px rgba(20, 20, 21, 0.07));
  border: 1px solid rgba(1, 2, 2, 0.07);
}
.about-wrapper .social {
  display: flex;
  flex-wrap: wrap;
  min-height: 125px;
  width: auto;
  justify-content: center;
  align-items: center;
}
.about-wrapper .social .soc_icon {
  margin-right: 20px;
}
.about-wrapper .social .footer_text {
  line-height: 46px;
  color: #5e5e5e;
  font-family: "Open Sans";
  font-weight: 600;
  text-align: center;
}
