.header-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
}
.text-link {
  color: white;
  text-decoration: none;
  list-style: none;
}
li {
  list-style: none;
}

.active {
  color: #ff5c36;
}
